[submodule "2-learning-c-make/7-git-submodule/external/json"]
	path = 2-learning-c-make/7-git-submodule/external/json
	url = git@github.com:nlohmann/json.git
[submodule "4-imgui/1-file-manager/external/imgui"]
	path = 4-imgui/1-file-manager/external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "4-imgui/external/implot"]
	path = 4-imgui/external/implot
	url = https://github.com/epezent/implot
[submodule "4-imgui/external/simpleini"]
	path = 4-imgui/external/simpleini
	url = https://github.com/brofield/simpleini.git
